{% extends "base.html.twig" %}

{% block contenu %}
    <div class="container mt-4">
        <h1>{{ salarie.nom ~ ' ' ~ salarie.prenom }}</h1>

        <div class="container">
            <a name="home" id="home" class="btn btn-primary" href="{{ path('salaries_index') }}" role="button">Back</a>
        </div>
    </div>

{% endblock %}
