{% extends 'base.html.twig' %}

{% block contenu %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>Bienvenue au ExoSalaries! ✅</h1>
        Ici vous pouvez faire votre choix:
        <ul class="list-group">
            <li class="list-group-item">
                <a class="btn btn-primary" href="{{ path('salaries_index') }}" role="button">Salarie</a>
                <a class="btn btn-primary" href="{{ path('salarie_add') }}" role="button">Ajouter</a>
            </li>
            <li class="list-group-item">
                <a class="btn btn-primary" href="{{ path('entreprise_index') }}" role="button">Entreprise</a>
                <a class="btn btn-primary" href="{{ path('entreprise_add') }}" role="button">Ajouter</a>
            </li>
        </ul>
    </div>
{% endblock %}
